CLIENT_URL="http://localhost:3000"
WORKER_URL="http://localhost:8787"

NODE_ENV="development"

BETTER_AUTH_SECRET="random-secret-key"
BETTER_AUTH_URL="http://localhost:8787"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""